:root {
	--foreground: #000;
	--foreground-semi: #00000080;

	--background-primary: #db4444;
	--background-secondary: #f5f5f5;

	--border: #d9d9d9;

	--button-primary: #db4444;
	--button-primary-text: #fafafa;
	--button-primary-hover: #e07575;
	--button-primary-hover-text: #fafafa;
	--button-secondary: #00000080;
	--button-secondary-text: #000;
	--button-secondary-hover: #00000080;
	--button-secondary-hover-text: #7d8184;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #fff;
	}
}

* {
	box-sizing: border-box;

	padding: 0;
	margin: 0;
}

html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	max-width: 100vw;

	overflow-x: hidden;
}

body {
	font-size: 16px;
	color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

h6 {
	font-size: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

a:hover {
	opacity: 0.8;
}

button,
select,
input,
textarea {
	appearance: none;

	padding: 0;
	margin: 0;

	background-color: transparent;

	outline: none;
	border: none;

	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	color: inherit;
	line-height: inherit;
}

select {
	padding: 0 24px 0 0;

	z-index: 1;

	& option {
		color: #000;
	}
}

.container-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;

	min-width: 1440px;
}

.container {
	width: 1170px;
}

main {
	display: flex;
	flex-direction: column;
	gap: 140px;
}

hr {
	border-width: 0.5px;
	border-color: #d7d7d7;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

