.userIconActive {
	background: red;
	border-radius: 50%;

	& img {
		filter: invert(100%);

		height: 24px;
		width: 24px;
	}
}

.userDropdown {
	position: absolute;
	top: 100%;
	right: 0;
	box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
	padding: 10px;
	z-index: 10;
	width: 225px;
	border-radius: 4px;
	background: linear-gradient(90deg, rgb(122 100 128) 0%, rgb(0 0 0) 100%);
}

.userDropdown li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: rgb(250 250 250);
}

.userDropdown li a:hover {
	background-color: #9e9b9b;
}

.logout {
	color: red;
}
