.userIconActive {
	background: #00FFFF;
	border-radius: 50%;
	filter: invert(100%);
}

.userDropdown {
	position: absolute;
	top: 100%; /* Обеспечивает раскрытие вниз */
	left: 50%; /* Центрирование относительно иконки */
	transform: translateX(-50%); /* Центрирование относительно иконки */
	background: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	z-index: 10;
	width: 225px;
	border-radius: 4px;
}

.userDropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.userDropdown li {
	margin: 0;
	padding: 0;
}

.userDropdown li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000;
}

.userDropdown li a:hover {
	background-color: #f1f1f1;
}

.logout {
	color: red;
}
